---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Welcome to Astro.">
	<head>
		<title>Site</title>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>

	<!-- Hero Section here -->
	<HeroSection />
	
	
	<script>
  		if (window.netlifyIdentity) {
    		window.netlifyIdentity.on("init", user => {
      		if (!user) {
        		window.netlifyIdentity.on("login", () => {
          		document.location.href = "/admin/";
      	  });
   	   }
   	 });
 	 }
   </script>
	</body>
</Layout>

<style>

</style>


