---
	import Layout from '../layouts/Layout.astro';
	import HeroSection from '../components/HeroSection.astro';
	import About from '../components/About.astro';
	import '../global.css'
	import NavBar from '../components/NavBar.astro';
	import News from '../components/News.astro'
---

<Layout title="We are EEEC">

	<head>
		<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<link rel="preload" as="image" href="https://i.ibb.co/rb6PQW6/Hero2.png" />
		<link rel="preload" as="image" href="https://i.ibb.co/XSxh8qR/Hero3.png" />
		<link rel="preload" as="image" href="https://i.ibb.co/hLR0Zyp/Hero4.png" />
	</head>

	<body>

		<!-- Hero Section here -->
		<div class="hero-section">
			<NavBar aboutLink="/#about-section" newsLink="/#news-section" />
			<HeroSection />
		</div>

		<div class="about-section" id="about-section">
			<About />
		</div>

		<div id="news-section">
			<News />
		</div>
		
		<script>

		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
				});
			}
			});
		}
		
		const btn = document.getElementById('clickToMove');
		const news = document.getElementById('news-section')
		
		btn.addEventListener('click', (e) => {
			e.preventDefault();
			news.scrollIntoView({block: "start", behavior: "smooth"})
		})
		</script>
	</body>
</Layout>

<script>
		import '../js/magicEffect.js'
		import '../js/numberCount.js'
</script>

<style>
	body {
    box-sizing: border-box;
}

.hero-section {
    background-image: url("/src/images/v904-nunny-012-min.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
}


.about-section {
    background-image: url("/src/images/about_background.png");
    width: 100vw;
    /* height:2607px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
    background-color: #ada6ff
}
</style>