---
import AboutUs from '../images/AboutUs.png'
import Statistic from '../images/Statistic.png'
---

<section>
    <div class="define-part grid grid-cols-2">
        <img src={AboutUs} width="650px" class="ml-[109px] mt-[70px] bump" alt="">
        <p class="font-tech text-2xl pt-24 pl-16 text-right pr-32 text-[#00247D] fade3">
        English Exchange Events Club (EEEC) is at its core an <span class="text-[#E4C0D0] underline">event organization team</span> that strives for meaningful academic values in all our projects. Our works include activities, workshops and contests within the field of English language, cultural exchanges and overall self-improvement at university, catering for not only students of USSH but those in the HCM City locality as well. With the slogan “Limited time, limitless thoughts”, we hope to play a part in making the university experience on the whole more impactful and gratifying to students.
        </p>
    </div>
    <div class="square-part grid grid-cols-2">
        <div class='ml-10'>
            <svg class="" width="700" height="146" viewBox="0 0 429 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="square4" d="M100.756 87H429L345.955 145.033H0L100.756 87Z" fill="#21264F"/>
                    <path id="square3" d="M100.756 58H429L345.955 116.033H0L100.756 58Z" fill="#3B4171"/>
                    <path id="square2" d="M100.756 29H429L345.955 87.0325H0L100.756 29Z" fill="#646A9A"/>
                    <path id="square1" d="M100.756 0H429L345.955 58.0325H0L100.756 0Z" fill="#EBEDFF"/>
            </svg>
        </div>
        <div class="flex justify-center pt-20">
            <img src={Statistic} width="400" class="" alt="Statistic">
        </div>
    </div>
    <div class="flex justify-center -mt-16 ml-6">
        <svg width="424" height="233" class="" viewBox="0 0 424 233" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.9">
                <path id="A1" d="M422.36 41.471C418.242 59.5333 400.665 70.9291 383.101 66.9243C365.537 62.9194 354.638 45.0304 358.756 26.968C362.875 8.90571 380.452 -2.49012 398.016 1.51475C415.579 5.51962 426.479 23.4086 422.36 41.471Z" fill="#F4F5FF"/>
                <path id="A2" d="M65.7378 206.724C61.6193 224.787 43.805 236.129 25.9486 232.057C8.09215 227.985 -3.04458 210.042 1.07399 191.98C5.19257 173.918 23.0068 162.576 40.8632 166.647C58.7197 170.719 69.8564 188.662 65.7378 206.724Z" fill="#3C4592"/>
                <path id="A3" d="M374.138 86.6704C370.843 101.12 357.019 110.291 343.26 107.154C329.502 104.017 321.02 89.7597 324.315 75.3098C327.61 60.8599 341.434 51.6891 355.192 54.8263C368.95 57.9634 377.433 72.2205 374.138 86.6704Z" fill="#DADDFF"/>
                <path id="A4" d="M322.231 123.575C319.828 134.112 309.812 140.813 299.86 138.544C289.907 136.274 283.786 125.893 286.189 115.357C288.591 104.821 298.607 98.1189 308.56 100.388C318.513 102.658 324.633 113.039 322.231 123.575Z" fill="#B4BBFF"/>
                <path id="A5" d="M266.873 131.596C264.883 140.326 256.387 145.834 247.898 143.898C239.409 141.963 234.141 133.316 236.131 124.586C238.122 115.856 246.618 110.348 255.107 112.284C263.596 114.219 268.864 122.866 266.873 131.596Z" fill="#9AA3F9"/>
                <path id="A6" d="M222.416 126.046C221.249 131.164 216.269 134.393 211.293 133.258C206.317 132.123 203.228 127.055 204.395 121.937C205.562 116.819 210.542 113.59 215.519 114.725C220.495 115.86 223.583 120.928 222.416 126.046Z" fill="#848FF5"/>
                <path id="A7" d="M190.11 111.225C188.051 120.256 179.5 126.008 171.011 124.073C162.522 122.137 157.309 113.247 159.368 104.215C161.428 95.1842 169.979 89.4322 178.468 91.3679C186.957 93.3036 192.169 102.194 190.11 111.225Z" fill="#7B85E0"/>
                <path id="A8" d="M146.655 111.065C144.252 121.601 133.999 128.249 123.753 125.912C113.508 123.576 107.15 113.141 109.553 102.605C111.955 92.0682 122.208 85.4206 132.454 87.7568C142.699 90.093 149.057 100.528 146.655 111.065Z" fill="#7C85DF"/>
                <path id="A9" d="M108.339 147.054C105.112 161.203 91.581 170.184 78.1155 167.114C64.65 164.043 56.3494 150.084 59.5756 135.936C62.8019 121.787 76.3332 112.806 89.7987 115.876C103.264 118.947 111.565 132.906 108.339 147.054Z" fill="#5963B0"/>
            </g>
        </svg>
    </div>
    <div class="grid grid-cols-2">
        <div class="relative pl-28 -mt-40" id="section_counter">
        <h1 class="relative z-10 top-[290px] font-display text-center leading-[2.25rem] text-[26px] drop-shadow-[5px_4px_0_rbga(120,139,255,0.36)] text-[#EBEDFF] whitespace-pre-line"><span class='text-[60px] num' data-val="16">0</span> 
        years old</h1>
        <svg class="solar-system" width="700" height="500" viewBox="0 0 500 417" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.0293 208.529C48.0293 120.44 119.44 49.0294 207.529 49.0294C295.619 49.0294 367.029 120.44 367.029 208.529C367.029 296.619 295.619 368.029 207.529 368.029C119.44 368.029 48.0292 296.619 48.0293 208.529Z" stroke="#C6C8DC" stroke-width="2"/>
            <path d="M295.211 28.6852C322.825 28.6852 345.211 51.5709 345.211 79.1852V79.1852C345.211 106.799 322.825 129.685 295.211 129.685V129.685C267.596 129.685 245.211 106.799 245.211 79.1852V79.1852C245.211 51.571 267.596 28.6852 295.211 28.6852V28.6852Z" fill="#3C4592"/>
            <path d="M95.0428 115.845C146.368 53.5831 238.448 44.7167 300.71 96.0415C362.972 147.366 371.838 239.446 320.513 301.708C269.189 363.97 177.108 372.837 114.846 321.512C52.5843 270.187 43.718 178.107 95.0428 115.845Z" fill="#21264F" stroke="black" stroke-width="3"/>
            <path d="M57.2109 126.685C79.8546 126.685 98.2109 145.042 98.2109 167.685V167.685C98.2109 190.329 79.8546 208.685 57.2109 208.685V208.685C34.5672 208.685 16.2109 190.329 16.2109 167.685V167.685C16.2109 145.042 34.5672 126.685 57.2109 126.685V126.685Z" fill="#646A9A"/>
            <path d="M295.71 298.685C316.973 298.685 334.21 315.922 334.21 337.185V337.185C334.21 358.448 316.973 375.685 295.71 375.685L294.71 375.685C273.447 375.685 256.21 358.448 256.21 337.185V337.185C256.21 315.922 273.447 298.685 294.71 298.685L295.71 298.685Z" fill="#EBEDFF"/>
        </svg>
        </div>
        <div class="flex justify-end">
            <div class="w-[700px] h-[196px] bg-white mt-28">
            <p class="text-2xl font-tech text-[#00247D] w-[550px] leading-[1.75rem] text-right tracking-[3px] -mt-20 pl-10 fade3">Lorem ipsum dolor sit amet consectetur. Quam sodales ipsum auctor donec sed tempus viverra ultricies. Cursus rhoncus phasellus praesent lectus porta. Lorem a tellus diam posuere ultricies quisque ornare. Aenean feugiat egestas nisl suspendisse pellentesque. Nulla senectus auctor nec potenti etiam placerat morbi etiam. Rutrum tristique sit ornare facilisi turpis egestas pretium proin posuere. Id sed ac ridiculus semper pharetra eget donec. In viverra ante bibendum duis. </p>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-start -mt-[70px] ml-3">
        <svg width="420" height="270" viewBox="0 0 377 238" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M80.6078 97.5945L78.0427 115.579C96.6886 118.692 116.641 119.173 135.439 118.02V98.7738C117.111 100.8 98.1073 101.084 80.6078 97.5945Z" fill="#EBEDFF"/>
            <path d="M37.5633 76.5518C37.5633 76.5518 31.2794 88.0501 27.253 95.4177C47.0734 109.93 59.5623 112.493 78.0427 115.579L80.6078 97.5945C64.3894 94.3604 49.4629 87.885 37.5633 76.5518Z" fill="#CDCEDD"/>
            <path d="M27.253 95.4177C31.2794 88.0501 37.5633 76.5518 37.5633 76.5518C28.3965 67.8214 23.8193 56.6123 21.8715 43.7735L1.82086 47.1395C4.98019 66.8601 16.9299 87.8593 27.253 95.4177Z" fill="#646A9A"/>
            <path d="M135.439 118.02C158.08 116.63 179.047 112.869 194.045 108.479L187.881 89.1046C172.751 92.6914 154.459 96.6708 135.439 98.7738V118.02Z" fill="#8991E2"/>
            <path d="M202.327 85.622C197.956 86.6736 193.107 87.8657 187.881 89.1046L194.045 108.479C213.067 102.91 229.54 99.9042 243.625 99.8777V80.636C230.628 80.4298 216.739 82.1543 202.327 85.622Z" fill="#A4ADF9"/>
            <path d="M243.625 80.636V99.8777C260.643 99.8456 274.176 104.162 284.515 113.558L301.007 99.8777C285.788 87.085 266.032 80.9915 243.625 80.636Z" fill="#DEE1FF"/>
            <path d="M284.515 113.558C294.051 122.225 300.869 135.216 305.194 153.104L324.809 134.601C319.255 119.871 311.136 108.391 301.007 99.8777L284.515 113.558Z" fill="#8891E3"/>
            <path d="M324.809 134.601L305.194 153.104C308.157 165.358 310.942 179.112 315.532 191.924L336.863 174.146C332.589 160.4 329.069 145.896 324.809 134.601Z" fill="#ABB4FF"/>
            <path d="M21.8715 43.7735C19.9645 31.2044 20.5776 17.0734 21.8715 2.17683L1.82086 0C-0.116806 11.2897 -1.05243 29.2045 1.82086 47.1395L21.8715 43.7735Z" fill="#EBEDFF"/>
            <path d="M315.532 191.924C324.26 216.285 341.579 237.239 377 238V217.683C356.719 219.764 344.376 198.309 336.863 174.146L315.532 191.924Z" fill="#EBEDFF"/>
        </svg>
    </div>
    <div class="grid grid-cols-2 -mt-28">
        <div class="relative justify-start">
            <div>
                <svg width="726" height="406" viewBox="0 0 661 370" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 129.733C66.8537 153.649 221.203 173.431 303.771 61.2259C406.981 -79.0307 605.98 52.8581 649.007 146.758C685.506 226.412 632.5 297.5 536.482 337.564C405.39 392.262 132.806 372.817 0 313.363V129.733Z" fill="white"/>
                </svg>
            </div>
                <p class="absolute fade1 top-16 left-44 text-2xl font-tech text-[#00247D] w-[550px] leading-[1.75rem] tracking-[3px]">Lorem ipsum dolor sit amet consectetur. Quam sodales ipsum auctor donec sed tempus viverra ultricies. Cursus rhoncus phasellus praesent lectus porta. Lorem a tellus diam posuere ultricies quisque ornare. Aenean feugiat egestas nisl suspendisse pellentesque. Nulla senectus auctor nec potenti etiam placerat morbi etiam. d sed ac ridiculus semper pharetra eget donec. In viverra ante bibendum duis. Morbi et duis lectus congue tristique sit convallis. </p>
        </div>
        <div class="relative pl-52 bump" id="section_counter2">
            <h1 class="absolute top-44 left-[285px] text-[#3C4592] font-display text-center tracking-[4px] leading-[3rem] text-[35px] whitespace-pre-line"><span class="num2" data-val="640">0</span>
            Members</h1>
            <svg width="380" height="490" viewBox="0 0 344 341" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="fading" fill="#3C4592" fill-rule="evenodd" clip-rule="evenodd" d="M290.07 31H273.929L344 101.071V84.9294L290.07 31ZM344 45.9602L329.04 31H344V45.9602ZM344 140.04L234.959 31H218.818L344 156.182V140.04ZM344 195.151L179.847 31H163.707L344 211.293V195.151ZM344 250.262L124.736 31H108.595L344 266.404V250.262ZM344 305.373L69.6257 31H53.484L344 321.515V305.373ZM324.514 341L34 50.4849V66.6269L308.373 341H324.514ZM269.403 341L34 105.596V121.738L253.262 341H269.403ZM214.292 341L34 160.707V176.849L198.151 341H214.292ZM159.181 341L34 215.818V231.96L143.04 341H159.181ZM104.07 341L34 270.929V287.071L87.9284 341H104.07ZM48.9591 341L34 326.04V341H48.9591Z"/>
                <path d="M0 0H327V327H0V0Z" fill="#EBEDFF"/>
            </svg>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div class="relative col-span-2 -top-[150px] left-[155px]" id="section_counter3">
            <h1 class="relative z-10 top-[540px] -left-[190px] font-display text-center tracking-[6px] leading-[2rem] text-[22px] drop-shadow-[5px_4px_0_rbga(120,139,255,0.36)] text-[#6775E2] whitespace-pre-line"><span class= 'num3' data-val="200">0</span>+ 
        club partners</h1>
            <svg class="linking" width="782" height="773" viewBox="0 0 782 773" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="linkedlist">
                <g id="nodelist">
                    <path id="vertices" d="M773 1.99998L571.389 93.3783L624.289 214.606L429.48 107.591L542.053 328.141L277.895 178.884L121.895 341.476L84.7559 499.824M84.7559 499.824L280.978 404.68M84.7559 499.824L171.042 636.609M84.7559 499.824L16.4105 641.237L171.042 636.609M280.978 404.68L433.452 453.485M280.978 404.68L328.058 328.446L433.452 453.485M433.452 453.485L458.107 556.077M458.107 556.077L320.09 685.868M458.107 556.077L171.042 636.609M320.09 685.868L394.084 749.978M320.09 685.868L171.042 636.609M171.042 636.609L99.4065 764.37" stroke="url(#paint0_linear_435_91)" stroke-width="4"/>
                    <ellipse id="node1" rx="12.4146" ry="11.575" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 571.954 90.9228)" fill="#CBD0FF"/>
                    <ellipse id="node2" rx="12.4146" ry="11.575" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 623.486 214.033)" fill="#BEC5FF"/>
                    <ellipse id="node3" rx="12.4146" ry="11.575" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 431.51 110.595)" fill="#BAC1FF"/>
                    <ellipse id="node4" rx="12.4146" ry="11.575" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 538.503 326.563)" fill="#9CA6F8"/>
                    <ellipse id="node6" rx="9.20401" ry="8.58157" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 121.823 340.446)" fill="#6775E2"/>
                    <ellipse id="node7" rx="14.7275" ry="13.7315" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 86.8882 500.9)" fill="#6775E2"/>
                    <ellipse id="node8" rx="18.0617" ry="16.8403" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 170.476 634.117)" fill="#6775E2"/>
                    <ellipse id="node15" rx="11.048" ry="10.3009" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 322.017 684.952)" fill="#6775E2"/>
                    <ellipse id="node13" rx="11.5334" ry="10.7535" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 101.036 759.563)" fill="#6775E2"/>
                    <ellipse id="node16" rx="5.92956" ry="5.52856" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 394.057 750.621)" fill="#6775E2"/>
                    <ellipse id="node9" rx="14.5114" ry="13.53" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 280.959 403.593)" fill="#6775E2"/>
                    <ellipse id="node11" rx="10.8214" ry="10.0896" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 326.954 329.33)" fill="#6775E2"/>
                    <ellipse id="node14" rx="12.5584" ry="11.7091" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 455.603 553.957)" fill="#6775E2"/>
                    <ellipse id="node12" rx="9.20401" ry="8.58157" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 430.482 451.798)" fill="#6775E2"/>
                    <ellipse id="node10" rx="9.20401" ry="8.58157" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 16.1232 641.309)" fill="#6775E2"/>
                    <ellipse id="node5" rx="12.4146" ry="11.575" transform="matrix(-0.0110094 -0.999939 -0.99992 0.0126647 276.202 180.423)" fill="#7784E8"/>
                </g>
                <path id="wave" d="M495.144 526C503.691 534.833 515.656 557.9 495.144 579.5M508.197 516C520.158 528.218 536.903 560.123 508.197 590M546.424 495C565.42 514.483 592.016 565.359 546.424 613" stroke="url(#paint1_linear_435_91)" stroke-width="4"/>
            </g>
            <defs>
                <linearGradient id="paint0_linear_435_91" x1="712.257" y1="15.9721" x2="383.621" y2="477.848" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EBEDFF"/>
                    <stop offset="0.265183" stop-color="#CACFFF" stop-opacity="0.97"/>
                    <stop offset="0.536023" stop-color="#A4ADFF" stop-opacity="0.88"/>
                    <stop offset="1" stop-color="#182AC9" stop-opacity="0.74"/>
                </linearGradient>
                <linearGradient id="paint1_linear_435_91" x1="626.606" y1="554" x2="457.85" y2="554" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white"/>
                    <stop offset="1" stop-color="#6775E2"/>
                </linearGradient>
            </defs>
            </svg>
        </div>
        <div class="relative">
            <svg class="relative top-20 -left-32" width="500" height="800" viewBox="0 0 446 525" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.8934 158.884C76.9838 216.055 91.5387 272.433 29.8934 362.284C-61.2445 495.12 95.3465 551.11 220.687 513.552C346.027 475.994 412.852 400.8 437.875 320.373C456.951 259.059 454.574 115.958 292.458 34.0683C130.341 -47.821 -78.4105 27.3963 29.8934 158.884Z" fill="white"/>
            </svg>
            <p class="relative -top-[600px] -mb-[500px] fade2 text-right -left-36 text-2xl font-tech text-[#00247D] w-[450px] leading-[1.75rem] tracking-[3px] whitespace-pre-line">Lorem ipsum dolor sit amet consectetur. Quam sodales ipsum auctor donec sed tempus viverra ultricies. Cursus rhoncus phasellus praesent lectus porta. Lorem a tellus diam posuere ultricies quisque ornare. Aenean feugiat egestas nisl suspendisse pellentesque. Nulla senectus auctor nec potenti etiam placerat morbi etiam.Nulla senectus auctor nec potenti etiam placerat morbi etiam
            Fringilla vel sed at tincidunt sit enim imperdiet velit. Augue sapien sagittis a purus malesuada tortor sed euismod lorem. Et netus erat hac morbi vitae morbi id cursus ornare. Nulla quis nibh molestie risus tempor tellus fusce enim</p>
        </div>
    </div>

    <div>
        <div class="flex justify-center">
            <div id="about-end" class="relative">
                <div class="relative z-0 top-32 right-5 h-[25px] w-[160px] bg-[#BAC1FF]"> </div>
                <h2 class="relative z-1 mb-20 font-binline text-[28px] text-misty text-center whitespace-pre-line tracking-[4px]">
                    Click here to see our
                    projects and activities
                </h2>
                <div class="flex justify-center -mt-10 mb-20">
                    <button id="clickToMove">
                    <svg width="80" height="120" viewBox="0 0 51 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="movingArrow">
                            <path id="line1" d="M2 40L25.5 51L48.5 40" stroke="#94abdd" stroke-width="4" stroke-linecap="round"/>
                            <path id="line2" d="M2 21L25.5 32L48.5 21" stroke="#94abdd" stroke-width="4" stroke-linecap="round"/>
                            <path id="line3" d="M2 2L25.5 13L48.5 2" stroke="#94abdd" stroke-width="4" stroke-linecap="round"/>
                        </g>
                    </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    @keyframes linemove {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(3px);
            stroke: #7c95ca;
        }
        100% {
            transform: translateY(0px);
        }
    }


    #line1 {
        animation: 1.5s ease-in-out linemove infinite;
    }
    #line2 {
        animation: 1.5s ease-in-out 400ms linemove infinite;
    }
    #line3 {
        animation: 1.5s ease-in-out 800ms linemove infinite;
    }

    #square1 {
        transition: all 2s ease;
    }
    #square2 {
        transition: all 2.5s ease;
    }
    #square3 {
        transition: all 3s ease;
    }
    #square4 {
        transition: all 3.5s ease;
    }

    svg:hover #square1, svg:hover #square3{
        transform: translateX(30%)
    }
    svg:hover #square2, svg:hover #square4 {
        transform: translateX(-30%)
    }



</style>

