<section>
    <div class="define-part grid grid-cols-2">
        <img src="https://i.ibb.co/nrX6mxt/WhoWeAre.png" width="650px" class="ml-[109px] mt-[70px]" alt="">
        <p class="font-tech text-2xl pt-24 pl-16 text-right pr-32 text-[#00247D]">
        English Exchange Events Club (EEEC) is at its core an <span class="text-[#E4C0D0] underline">event organization team</span> that strives for meaningful academic values in all our projects. Our works include activities, workshops and contests within the field of English language, cultural exchanges and overall self-improvement at university, catering for not only students of USSH but those in the HCM City locality as well. With the slogan “Limited time, limitless thoughts”, we hope to play a part in making the university experience on the whole more impactful and gratifying to students.
        </p>
    </div>
    <div class="">
        <div class='ml-10 relative'>
            <svg class="" width="700" height="146" viewBox="0 0 429 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="square4" d="M100.756 87H429L345.955 145.033H0L100.756 87Z" fill="#21264F"/>
                    <path id="square3" d="M100.756 58H429L345.955 116.033H0L100.756 58Z" fill="#3B4171"/>
                    <path id="square2" d="M100.756 29H429L345.955 87.0325H0L100.756 29Z" fill="#646A9A"/>
                    <path id="square1" d="M100.756 0H429L345.955 58.0325H0L100.756 0Z" fill="#EBEDFF"/>
            </svg>
        </div>

        <!-- <object data="/src/images/Flatt_section.svg" class="ml-[100px] -mt-6 w-[569px] h-[152px]" type="image/svg+xml"> </object>-->
    </div>
</section>

<style>
    #square1 {
        transition: all 2s ease;
    }
    #square2 {
        transition: all 2.5s ease;
    }
    #square3 {
        transition: all 3s ease;
    }
    #square4 {
        transition: all 3.5s ease;
    }

    svg:hover #square1, svg:hover #square3{
        transform: translateX(30%)
    }
    svg:hover #square2, svg:hover #square4 {
        transform: translateX(-30%)
    }

</style>

