---
import logoFooter from '../images/logoFooter.png'
---
<footer class="w-full h-[50vh] relative">
    <img class="absolute w-[10vw] left-24 top-24" src={logoFooter} alt="">


    <div class="flex justify-center gap-56 items-center h-full w-full pt-32">

        <!-- TAB GROUP -->
        <div class="flex items-center justify-center gap-12 text-white text-[18px]">
            <!-- FIRST TAB COLUMN -->
            <div class="flex justify-center items-center gap-4">
                <div>
                    <svg width="2" height="113" viewBox="0 0 2 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.87207 0.119141L0.872046 112.266" stroke="white" stroke-width="1.3"/>
                    </svg>
                </div>

                <div class="flex flex-col justify-evenly">
                    <a class="page-link" href="../">HOMEPAGE</a>
                    <a class="page-link" href="/#gallery-section">ACTIVITIES</a>
                    <a class="page-link" href="/#">NEWS</a>
                    <a class="page-link" href="#">DEPARTMENTS</a>
                </div>
            </div>
    
            <!-- SECOND TAB COLUMN -->
            <div class="flex justify-center items-center gap-4">
                <div>
                    <svg width="2" height="113" viewBox="0 0 2 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.87207 0.119141L0.872046 112.266" stroke="white" stroke-width="1.3"/>
                    </svg>
                </div>

                <div class="flex flex-col justify-evenly">
                    <a class="page-link" href="/#about-section">ABOUT</a>
                    <a class="page-link" href="/#gallery-section">GALLERY</a>
                    <a class="page-link">RECRUITMENT</a>
                    <a class="page-link" href="/blog">BLOGS</a>
                </div>
            </div>

            <!-- SOCIAL MEDIA COULOUMN -->
            <div class="flex justify-center items-center gap-4">
                <div>
                    <svg width="2" height="113" viewBox="0 0 2 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.87207 0.119141L0.872046 112.266" stroke="white" stroke-width="1.3"/>
                    </svg>
                </div>
                <div class="flex flex-col justify-evenly">
                    <!-- FACEBOOK -->
                    <a class="social-link" href="https://www.facebook.com/EeeClub">
                    <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5958 15.1523L16.9758 12.6523H14.6353V11.0273C14.6353 10.3437 14.962 9.67577 16.0069 9.67577H17.0859V7.54687C16.4576 7.4431 15.8226 7.38696 15.1862 7.37891C13.2599 7.37891 12.0022 8.57812 12.0022 10.7461V12.6523H9.86694V15.1523H12.0022V21.1991H14.6353V15.1523H16.5958Z" fill="white"/>
                    </svg>
                    </a>
                    <!-- INSTAGRAM -->
                    <a class="social-link" href="https://www.instagram.com/eeeclub.ef/">
                        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.1142 13.9047C11.1142 12.6327 12.1094 11.6012 13.3374 11.6012C14.5654 11.6012 15.5611 12.6327 15.5611 13.9047C15.5611 15.1768 14.5654 16.2083 13.3374 16.2083C12.1094 16.2083 11.1142 15.1768 11.1142 13.9047ZM9.91211 13.9047C9.91211 15.8644 11.4456 17.453 13.3374 17.453C15.2292 17.453 16.7627 15.8644 16.7627 13.9047C16.7627 11.945 15.2292 10.3565 13.3374 10.3565C11.4456 10.3565 9.91211 11.945 9.91211 13.9047ZM16.0978 10.2158C16.0978 10.3798 16.1447 10.5401 16.2326 10.6765C16.3205 10.8129 16.4455 10.9193 16.5917 10.9821C16.7379 11.0449 16.8989 11.0614 17.0542 11.0295C17.2095 10.9975 17.3521 10.9186 17.4641 10.8027C17.5761 10.6868 17.6524 10.5391 17.6834 10.3782C17.7143 10.2174 17.6985 10.0506 17.638 9.8991C17.5775 9.74756 17.4749 9.61801 17.3433 9.52684C17.2117 9.43567 17.057 9.38697 16.8986 9.38691H16.8983C16.6861 9.38701 16.4826 9.47436 16.3325 9.62978C16.1824 9.78519 16.098 9.99596 16.0978 10.2158V10.2158ZM10.6425 19.5294C9.9921 19.4987 9.63861 19.3865 9.4037 19.2917C9.09226 19.1661 8.87004 19.0165 8.63641 18.7748C8.40278 18.5331 8.25816 18.3032 8.13744 17.9805C8.04587 17.7373 7.93754 17.371 7.90797 16.6973C7.87563 15.9689 7.86918 15.7501 7.86918 13.9048C7.86918 12.0595 7.87617 11.8413 7.90797 11.1123C7.93759 10.4386 8.04672 10.073 8.13744 9.82905C8.25869 9.50643 8.4031 9.27624 8.63641 9.03422C8.86972 8.7922 9.09172 8.64239 9.4037 8.51734C9.6385 8.42248 9.9921 8.31026 10.6425 8.27963C11.3456 8.24613 11.5568 8.23944 13.3374 8.23944C15.118 8.23944 15.3294 8.24669 16.0332 8.27963C16.6835 8.31031 17.0364 8.42336 17.2719 8.51734C17.5834 8.64239 17.8056 8.79253 18.0392 9.03422C18.2729 9.27591 18.4169 9.50643 18.5382 9.82905C18.6298 10.0723 18.7381 10.4386 18.7677 11.1123C18.8 11.8413 18.8065 12.0595 18.8065 13.9048C18.8065 15.7501 18.8 15.9683 18.7677 16.6973C18.738 17.371 18.6292 17.7372 18.5382 17.9805C18.4169 18.3032 18.2725 18.5334 18.0392 18.7748C17.8059 19.0163 17.5834 19.1661 17.2719 19.2917C17.0371 19.3866 16.6835 19.4988 16.0332 19.5294C15.33 19.5629 15.1188 19.5696 13.3374 19.5696C11.556 19.5696 11.3454 19.5629 10.6425 19.5294V19.5294ZM10.5872 7.03648C9.8771 7.06998 9.39185 7.18662 8.96807 7.35744C8.5292 7.53384 8.15767 7.7705 7.78641 8.15448C7.41514 8.53846 7.18727 8.92393 7.01698 9.37856C6.85209 9.81782 6.73948 10.3202 6.70715 11.0558C6.67427 11.7926 6.66675 12.0282 6.66675 13.9047C6.66675 15.7813 6.67427 16.0169 6.70715 16.7536C6.73948 17.4893 6.85209 17.9917 7.01698 18.4309C7.18727 18.8853 7.4152 19.2712 7.78641 19.655C8.15762 20.0388 8.5292 20.2751 8.96807 20.452C9.39265 20.6229 9.8771 20.7395 10.5872 20.773C11.2989 20.8065 11.5259 20.8148 13.3374 20.8148C15.149 20.8148 15.3763 20.8071 16.0876 20.773C16.7978 20.7395 17.2827 20.6229 17.7068 20.452C18.1454 20.2751 18.5172 20.039 18.8884 19.655C19.2597 19.271 19.4871 18.8853 19.6578 18.4309C19.8227 17.9917 19.9359 17.4893 19.9677 16.7536C20 16.0163 20.0075 15.7813 20.0075 13.9047C20.0075 12.0282 20 11.7926 19.9677 11.0558C19.9353 10.3202 19.8227 9.81755 19.6578 9.37856C19.4871 8.92421 19.2591 8.53907 18.8884 8.15448C18.5177 7.76989 18.1454 7.53384 17.7073 7.35744C17.2827 7.18662 16.7977 7.06942 16.0881 7.03648C15.3769 7.00298 15.1495 6.99463 13.3379 6.99463C11.5264 6.99463 11.2989 7.00242 10.5872 7.03648Z" fill="white"/>
                            <path d="M11.1142 13.9047C11.1142 12.6327 12.1094 11.6012 13.3374 11.6012C14.5654 11.6012 15.5611 12.6327 15.5611 13.9047C15.5611 15.1768 14.5654 16.2083 13.3374 16.2083C12.1094 16.2083 11.1142 15.1768 11.1142 13.9047ZM9.91211 13.9047C9.91211 15.8644 11.4456 17.453 13.3374 17.453C15.2292 17.453 16.7627 15.8644 16.7627 13.9047C16.7627 11.945 15.2292 10.3565 13.3374 10.3565C11.4456 10.3565 9.91211 11.945 9.91211 13.9047ZM16.0978 10.2158C16.0978 10.3798 16.1447 10.5401 16.2326 10.6765C16.3205 10.8129 16.4455 10.9193 16.5917 10.9821C16.7379 11.0449 16.8989 11.0614 17.0542 11.0295C17.2095 10.9975 17.3521 10.9186 17.4641 10.8027C17.5761 10.6868 17.6524 10.5391 17.6834 10.3782C17.7143 10.2174 17.6985 10.0506 17.638 9.8991C17.5775 9.74756 17.4749 9.61801 17.3433 9.52684C17.2117 9.43567 17.057 9.38697 16.8986 9.38691H16.8983C16.6861 9.38701 16.4826 9.47436 16.3325 9.62978C16.1824 9.78519 16.098 9.99596 16.0978 10.2158V10.2158ZM10.6425 19.5294C9.9921 19.4987 9.63861 19.3865 9.4037 19.2917C9.09226 19.1661 8.87004 19.0165 8.63641 18.7748C8.40278 18.5331 8.25816 18.3032 8.13744 17.9805C8.04587 17.7373 7.93754 17.371 7.90797 16.6973C7.87563 15.9689 7.86918 15.7501 7.86918 13.9048C7.86918 12.0595 7.87617 11.8413 7.90797 11.1123C7.93759 10.4386 8.04672 10.073 8.13744 9.82905C8.25869 9.50643 8.4031 9.27624 8.63641 9.03422C8.86972 8.7922 9.09172 8.64239 9.4037 8.51734C9.6385 8.42248 9.9921 8.31026 10.6425 8.27963C11.3456 8.24613 11.5568 8.23944 13.3374 8.23944C15.118 8.23944 15.3294 8.24669 16.0332 8.27963C16.6835 8.31031 17.0364 8.42336 17.2719 8.51734C17.5834 8.64239 17.8056 8.79253 18.0392 9.03422C18.2729 9.27591 18.4169 9.50643 18.5382 9.82905C18.6298 10.0723 18.7381 10.4386 18.7677 11.1123C18.8 11.8413 18.8065 12.0595 18.8065 13.9048C18.8065 15.7501 18.8 15.9683 18.7677 16.6973C18.738 17.371 18.6292 17.7372 18.5382 17.9805C18.4169 18.3032 18.2725 18.5334 18.0392 18.7748C17.8059 19.0163 17.5834 19.1661 17.2719 19.2917C17.0371 19.3866 16.6835 19.4988 16.0332 19.5294C15.33 19.5629 15.1188 19.5696 13.3374 19.5696C11.556 19.5696 11.3454 19.5629 10.6425 19.5294V19.5294ZM10.5872 7.03648C9.8771 7.06998 9.39185 7.18662 8.96807 7.35744C8.5292 7.53384 8.15767 7.7705 7.78641 8.15448C7.41514 8.53846 7.18727 8.92393 7.01698 9.37856C6.85209 9.81782 6.73948 10.3202 6.70715 11.0558C6.67427 11.7926 6.66675 12.0282 6.66675 13.9047C6.66675 15.7813 6.67427 16.0169 6.70715 16.7536C6.73948 17.4893 6.85209 17.9917 7.01698 18.4309C7.18727 18.8853 7.4152 19.2712 7.78641 19.655C8.15762 20.0388 8.5292 20.2751 8.96807 20.452C9.39265 20.6229 9.8771 20.7395 10.5872 20.773C11.2989 20.8065 11.5259 20.8148 13.3374 20.8148C15.149 20.8148 15.3763 20.8071 16.0876 20.773C16.7978 20.7395 17.2827 20.6229 17.7068 20.452C18.1454 20.2751 18.5172 20.039 18.8884 19.655C19.2597 19.271 19.4871 18.8853 19.6578 18.4309C19.8227 17.9917 19.9359 17.4893 19.9677 16.7536C20 16.0163 20.0075 15.7813 20.0075 13.9047C20.0075 12.0282 20 11.7926 19.9677 11.0558C19.9353 10.3202 19.8227 9.81755 19.6578 9.37856C19.4871 8.92421 19.2591 8.53907 18.8884 8.15448C18.5177 7.76989 18.1454 7.53384 17.7073 7.35744C17.2827 7.18662 16.7977 7.06942 16.0881 7.03648C15.3769 7.00298 15.1495 6.99463 13.3379 6.99463C11.5264 6.99463 11.2989 7.00242 10.5872 7.03648Z" fill="white"/>
                        </svg>
                    </a>
                    <!-- LINKEDIN -->
                    <a class="mt-1 social-link" href="mailto:eeeclub.er@gmail.com">
                        <svg width="27" height="18" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 5.5C1 4.11929 2.11929 3 3.5 3H14.5C15.8807 3 17 4.11929 17 5.5V12.5C17 13.8807 15.8807 15 14.5 15H3.5C2.11929 15 1 13.8807 1 12.5V5.5ZM2.25117 4.66879C2.09249 4.90672 2 5.19256 2 5.5V12.5C2 13.3284 2.67157 14 3.5 14H14.5C15.3284 14 16 13.3284 16 12.5V5.5C16 5.1924 15.9074 4.90643 15.7486 4.66843L10.0604 10.3567C9.47457 10.9424 8.52483 10.9424 7.93904 10.3567L2.25117 4.66879ZM3.06166 4.06506L8.64615 9.64955C8.84141 9.84481 9.15799 9.84481 9.35325 9.64954L14.9379 4.06492C14.7994 4.02271 14.6523 4 14.5 4H3.5C3.3475 4 3.20032 4.02276 3.06166 4.06506Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- OTHER STUFFS -->
        <div class="flex justify-between items-center gap-24">
            <form name="contact" method="POST" data-netlify="true">
                <div class="mailgroup relative">
                    <label for="mail-text" class="block tracking-widest text-white text-[14px]">WRITE SOMETHING FOR US</label>
                    <input id="mail-text" name="mail-text" class="bg-transparent border-b-white border-b-2 text-white" type="text" placeholder="Pretty words here..." size="45" />
                    <div id="mail-decor" class="absolute bottom-0 h-[2px] w-full bg-[#ffadb4]"></div>
                    <button id="submit-button" class="absolute right-0" type="submit">
                        <svg width="16" height="16" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.09997 2.5L1 4.75M1 4.75L3.09997 7M1 4.75H4.82981C5.40538 4.75 5.95737 4.5345 6.36436 4.1509C6.77135 3.7673 7 3.24703 7 2.70455V1" stroke="white" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </form>

            <div>
                <button class="bg-transparent border-white text-white border-[2.5px] rounded-lg py-2 px-8">CONTACT US</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("submit-button").addEventListener("submit", function(event){
        event.preventDefault()
        document.getElementById("mail-text").innerText = '';
        });
    </script>

</footer>

<style>
footer {
    background-image: url('../images/footerBackground.png');
    background-size: cover;
}

.page-link {
    transition: all 0.3s ease-in-out;
}

.social-link {
    transition: all 300ms ease-in-out;
}
.social-link:hover > svg > path {
    fill: #8f4d4dec;
}

.page-link:hover {
    color: #8f4d4dec
}

.mailgroup input::placeholder {
    color: #FFFFFF91;
}

.mailgroup input:focus {
    outline: none;
}

#mail-decor {
    transform: scaleX(0);
    transition: 0.3s all ease
}

.mailgroup input:focus ~ #mail-decor {
    transform: scaleX(1);
}
</style>