---

---

<section class="grid gap-6 grid-cols-3 text-center mt-28">
    <div>
        <h1 class="font-sans text-5xl text-left whitespace-pre-line text-main-blue drop-shadow-pink">BRING THE 
        WHOLE WORLD TOGETHER!</h1>
        <div class="flex mt-28">
            <div>
            <img src="https://i.ibb.co/sbC3dWZ/Group-115.png" alt="left-illustration" class="object-cover w-40 pt-2" />
            </div>
            <ul class="flex flex-col gap-y-5 text-xl ml-8 tracking-widest items-start list-none font-display text-gray-blue">
                <li>English</li>
                <li>Exchange</li>
                <li>Events</li>
            </ul>
        </div>
    </div>
    
    <div class="pb-20">
        <img src="https://i.ibb.co/1Ky9Tpd/Group-114.png" id="hero" alt="bigHero1" class="object-cover h-[500px] -mt-16">
        <div class="flex mt-4 gap-6 ml-20">
            <a class="thumbchange1"><img class="object w-12 hover:translate-y-2 ease-in duration-100" src="https://i.ibb.co/p3SGJww/thumb1.png"  alt="thumb1"></a>
            <a class="thumbchange2"><img class="object w-12 hover:translate-y-2 ease-in duration-100" src="https://i.ibb.co/Mkzqhwn/thumb2.png" alt="thumb2"/></a>
            <a class="thumbchange3"><img class="object w-12 hover:translate-y-2 ease-in duration-100" src="https://i.ibb.co/bBXnWHH/thumb3.png"  alt="thumb3"/></a>
            <a class="thumbchange4"><img class="object w-12 hover:translate-y-2 ease-in duration-100" src="https://i.ibb.co/zPcnd66/thumb4.png"  alt="thumb4"/></a>
        </div>
    </div>
    
    <div class="ml-6 flex flex-col justify-between">
        <div>
        <h1 id="job_title" class="text-red text-left font-display ml-3 text-xl">HEAD OF PUBLIC RELATIONS</h1>
            <!-- <svg class="inline" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 3C0.666748 1.55025 1.78604 0.375 3.16675 0.375H11.0834C12.4641 0.375 13.5834 1.55025 13.5834 3V3.40358L16.1616 2.20041C16.4194 2.08012 16.7176 2.10492 16.9542 2.26632C17.1907 2.42772 17.3334 2.70381 17.3334 3V10C17.3334 10.2962 17.1907 10.5723 16.9542 10.7337C16.7176 10.8951 16.4194 10.9199 16.1616 10.7996L13.5834 9.59642V10C13.5834 11.4497 12.4641 12.625 11.0834 12.625H3.16675C1.78604 12.625 0.666748 11.4497 0.666748 10V3ZM7.33341 3H4.00008V4.75H7.33341V3Z" fill="#D3636A"/>
            </svg>
            <svg class="inline mb-2" width="20" height="21" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.03125 1.25001C9.03125 0.954669 8.85792 0.686823 8.58849 0.565833C8.31907 0.444844 8.00372 0.49324 7.78298 0.689456L3.77735 4.25001H0.78125C0.367036 4.25001 0.03125 4.5858 0.03125 5.00001V11C0.03125 11.4142 0.367036 11.75 0.78125 11.75H3.77735L7.78298 15.3106C8.00372 15.5068 8.31907 15.5552 8.58849 15.4342C8.85792 15.3132 9.03125 15.0454 9.03125 14.75V1.25001Z" fill="#D3636A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.77183 6.65838L9.48535 6.08543L10.827 5.41461L11.1135 5.98756C11.7469 7.25443 11.7469 8.74561 11.1135 10.0125L10.827 10.5854L9.48535 9.91461L9.77183 9.34166C10.1941 8.49708 10.1941 7.50296 9.77183 6.65838Z" fill="#D3636A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8983 6.17241L11.3459 4.92964L12.7167 4.32043L13.269 5.56321C13.9585 7.1146 13.9585 8.88548 13.269 10.4369L12.7167 11.6796L11.3459 11.0704L11.8983 9.82766C12.4154 8.66412 12.4154 7.33596 11.8983 6.17241Z" fill="#D3636A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0071 5.69232L13.2139 3.78847L14.5985 3.21155L15.3918 5.11539C16.161 6.96155 16.161 9.03847 15.3918 10.8846L14.5985 12.7885L13.2139 12.2115L14.0071 10.3077C14.6225 8.83078 14.6225 7.16924 14.0071 5.69232Z" fill="#D3636A"/>
            </svg> -->
            <h6 id="job_subtitle" class="text-xs font-display text-left text-light-red ml-3 mb-6">john doe - sophomore student</h6>
            <p id="description" class="text-base whitespace-pre-line font-tech text-tech text-left ml-3">Sed id maximus leo. Nunc diam mi, tempus sed nibh vel, fringilla sagittis justo. Pellentesque varius dui eu magna accumsan dapibus. Proin enim erat, aliquam non leo vitae, elementum rutrum nulla. Duis a odio feugiat, suscipit purus sit amet, auctor erat. 

            In hac habitasse platea dictumst. Nam pretium nisl sed metus placerat interdum. Aenean imperdiet est lacinia eros lobortis tincidunt. Morbi condimentum mi sed quam feugiat, eget ullamcorper mi pellentesque. Cras nec tellus condimentum, blandit est sit amet, pretium dui.
            </p>
        </div>

        <a href="" class="pb-10">
            <img class="object w-40 ml-28 bottom-0 hover:rotate-[30deg] ease-in duration-200" src="https://i.ibb.co/R6JGTpK/calltoaction.png" alt="calltoaction" alt="calltoaction" />
            <img src="https://i.ibb.co/rZ3yW2j/play.png" alt="play" class="w-6 relative bottom-[84px] left-[180px] hover:w-[28px] ease-in duration-200">
        </a>
    </div>


</section>


<script>
const thumb1 = document.querySelector('a.thumbchange1');
const thumb2 = document.querySelector('a.thumbchange2');
const thumb3 = document.querySelector('a.thumbchange3');
const thumb4 = document.querySelector('a.thumbchange4');
const hero = document.querySelector('#hero')
const subtitle = document.querySelector('#job_subtitle')
const title = document.querySelector('#job_title')
const description = document.querySelector('#description')


thumb1.addEventListener('click', () => {
      hero.src = "https://i.ibb.co/1Ky9Tpd/Group-114.pngg"
      title.classList?.remove('text-hero2')
      title.classList?.remove('text-hero3')
      title.classList?.remove('text-hero4')
      title.classList.add("text-red");
      title.innerHTML = "HEAD OF PUBLIC RELATIONS";
      subtitle.classList?.remove('text-palehero2')
      subtitle.classList?.remove('text-palehero3')
      subtitle.classList?.remove('text-palehero4')
      subtitle.classList.add("text-light-red");
      subtitle.innerHTML = "john doe - sophomore student";
      description.innerHTML ="<p>Sed id maximus leo. Nunc diam mi, tempus sed nibh vel, fringilla sagittis justo. Pellentesque varius dui eu magna accumsan dapibus. Proin enim erat, aliquam non leo vitae, elementum rutrum nulla. Duis a odio feugiat, suscipit purus sit amet, auctor erat. <br/> <br/> In hac habitasse platea dictumst. Nam pretium nisl sed metus placerat interdum. Aenean imperdiet est lacinia eros lobortis tincidunt. Morbi condimentum mi sed quam feugiat, eget ullamcorper mi pellentesque. Cras nec tellus condimentum, blandit est sit amet, pretium dui.</p>"
    });

thumb2.addEventListener('click', () => {
      hero.src = "https://i.ibb.co/rb6PQW6/Hero2.png"
      title.classList?.remove('text-red')
      title.classList?.remove('text-hero3')
      title.classList?.remove('text-hero4')
      title.classList.add("text-hero2");
      title.innerHTML = "HEAD OF EXTERNAL RELATIONS";
      subtitle.classList?.remove('text-light-red')
      subtitle.classList?.remove('text-palehero3')
      subtitle.classList?.remove('text-palehero4')
      subtitle.classList.add("text-palehero2");
      subtitle.innerHTML = "David Moore - Faculty of Literature";
      description.innerHTML ="<p>Sida ipsum dolor sit amet consectetur. Placerat at molestie faucibus metus consequat facilisis lacus. Bibendum in bibendum ut mattis blandit egestas morbi gravida tortor. Auctor sem blandit sit vitae mauris. Posuere placerat vulputate donec et. Iaculis etiam dignissim mollis faucibus dui feugiat aliquam nibh in. Fringilla libero pharetra dui suspendisse velit pellentesque. Velit pellentesque pellentesque tristique sagittis tempus purus ultrices. Convallis ipsum in dictumst fames praesent in proin. A est at cursus massa fermentum urna cras mauris. Justo et pulvinar ipsum malesuada id vitae phasellus consequat.</p>"
    });
thumb3.addEventListener('click', () => {
      hero.src = "https://i.ibb.co/XSxh8qR/Hero3.png"
      title.classList?.remove('text-red')
      title.classList?.remove('text-hero2')
      title.classList?.remove('text-hero4')
      title.classList.add("text-hero3");
      title.innerHTML = "HEAD OF CONTENT";
      subtitle.classList?.remove('text-light-red')
      subtitle.classList?.remove('text-palehero2')
      subtitle.classList?.remove('text-palehero4')
      subtitle.classList.add("text-palehero3");
      subtitle.innerHTML = "Jamie Varth - University Alumnus";
      description.innerHTML ="<p>Lorem ipsum dolor sit amet consectetur. Pretium gravida id orci commodo vitae in ut feugiat. Diam purus duis eget ut id. Viverra at risus quis fames felis cursus. Sit aliquet iaculis mi orci vitae pulvinar non feugiat eget.<br/> <br/> Et non proin molestie nascetur phasellus lectus. Dolor nibh auctor et neque justo diam bibendum sem enim. Euismod pharetra aliquam pulvinar at ac eu orci. Ut eu donec sed mattis aliquam ante viverra nunc urna. Lectus egestas sodales lorem aliquam dictum enim orci morbi. </p>"
    });
thumb4.addEventListener('click', () => {
      hero.src = "https://i.ibb.co/hLR0Zyp/Hero4.png"
      title.classList?.remove('text-red')
      title.classList?.remove('text-hero2')
      title.classList?.remove('text-hero3')
      title.classList.add("text-hero4");
      title.innerHTML = "HEAD OF DIGITAL MEDIA";
      subtitle.classList?.remove('text-light-red')
      subtitle.classList?.remove('text-palehero2')
      subtitle.classList?.remove('text-palehero3')
      subtitle.classList.add("text-palehero4");
      subtitle.innerHTML = "Phi Phung - A new gen leader";
      description.innerHTML = "Egestas urna amet platea aliquam aliquam ante urna adipiscing. Pulvinar varius vivamus donec vel cras aliquam dignissim egestas morbi. Orci dictumst morbi elementum varius tempus massa pulvinar.<br/> <br/> Luctus elit adipiscing vel purus nisl sit. Nunc morbi nunc nisl augue diam convallis aliquam. Bibendum nec morbi dui sit ipsum lorem enim. Eget eu sit amet interdum sed donec enim. Vulputate pharetra a imperdiet consequat faucibus elementum. Nulla eleifend feugiat lorem nulla. Condimentum proin nec tortor donec. At ipsum maecenas suscipit quisque et."
    });
</script>