<nav class="navbar">
    <div class="logo"> 
        <img src="/src/images/Logo.jpg" alt="EEEC logo">
    </div>
    

    <ul class="nav-list">
        <li class="nav-item"><a>About</a></li>
        <li class="nav-item"><a>Projects</a></li>
        <li class="nav-item"><a>News</a></li>
        <li class="nav-item"><a>Departments</a></li>
    </ul>
    
    <div class="admin-login">
        <a href="/admin">
            <svg class="admin-icon" width="25" height="40" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_314_572)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2855 7.55259C9.04 7.55259 8.03029 8.5656 8.03029 9.81522C8.03029 11.0648 9.04 12.0778 10.2855 12.0778C11.5311 12.0778 12.5408 11.0648 12.5408 9.81522C12.5408 8.5656 11.5311 7.55259 10.2855 7.55259ZM7.31812 9.81522C7.31812 8.17099 8.64667 6.83807 10.2855 6.83807C11.9244 6.83807 13.2529 8.17099 13.2529 9.81522C13.2529 11.4594 11.9244 12.7924 10.2855 12.7924C8.64667 12.7924 7.31812 11.4594 7.31812 9.81522Z" fill="#80809D" stroke="#80809D" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2855 12.7923C8.16541 12.7923 6.4302 14.1295 5.99851 15.8652C5.94278 16.0893 6.1275 16.3649 6.48724 16.3649H10.2855C10.4822 16.3649 10.6416 16.5249 10.6416 16.7222C10.6416 16.9195 10.4822 17.0794 10.2855 17.0794H6.48724C5.79812 17.0794 5.10931 16.4891 5.30752 15.6922C5.82783 13.6003 7.87929 12.0778 10.2855 12.0778C12.6918 12.0778 14.7432 13.6003 15.2635 15.6922C15.4617 16.4891 14.7729 17.0794 14.0838 17.0794H12.6595C12.4628 17.0794 12.3034 16.9195 12.3034 16.7222C12.3034 16.5249 12.4628 16.3649 12.6595 16.3649H14.0838C14.4436 16.3649 14.6283 16.0893 14.5725 15.8652C14.1408 14.1295 12.4056 12.7923 10.2855 12.7923Z" fill="#80809D" stroke="#80809D" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <path d="M1 7.84271L10.1322 1.56982L19.8015 7.84271V17.4933L10.1322 22.8011L1 17.4933V7.84271Z" stroke="#9D9DB9" stroke-width="2"/>
            <defs>
            <clipPath id="clip0_314_572">
            <rect width="11.3949" height="11.4322" fill="white" transform="translate(5.27295 6.4693)"/>
            </clipPath>
            </defs>
            </svg>
        </a>
    </div>
</nav>

<style>
    .navbar {
        display: flex;
        justify-content:space-between;
        width: 100%;
        padding: 10px 0px;
        font-family: 'Bungee';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }
    .logo{
        padding: 10px 20px;
    }

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:150px
    }

    .admin-login {
        padding: 15px 25px;
        padding-left:40px;
    }

    .admin-icon {
        width:25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 40px;

    }

    .nav-item {
        margin-right: 20px;
        letter-spacing: 0.01em;
        color: rgba(31, 36, 81, 0.56);
        cursor: pointer;
    }

</style>