---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props
---

<Layout title={frontmatter.title}>
  <p>{frontmatter.date.slice(0, 10)}</p>
  <p>Written by: someone</p>
  <img src={frontmatter.thumbnail} width="400" />
  <slot />
</Layout>
